/* COURSES */

body{
    background: rgb(235, 245, 255);
}

.leftcon{
    padding: 50px;
}

.mycourse{
    direction: rtl;
    background-color: white;
    padding: 15px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 12px;
    font-family: vazir;
    display: flex;
}

.container{
    display: flex;
    direction: rtl;
    padding: 50px;
}

table{
    border-spacing: 50px;
}

td{
    background-color: white;
    border: 2px solid rgb(186, 222, 255);
    padding: 50px;
    border-radius: 12px;
    font-family: vazir;
}

.imgc{
    border-radius: 12px;
    margin-top: -35px;
    margin-left: -35px;
    margin-right: -35px;
}

@font-face {
    font-family: vazir;
    src: url(./Fonts/Vazir-Black.eot);
}

.list{
    direction: rtl;
    background-color: white;
    width: 300px;
    height: fit-content;
    padding: 5px;
    border-radius: 12px;
    font-family: vazir;
    margin-bottom: 20px;
}

.toggle{
    width: 20px;
    height: 20px;
    margin: 25px 17px 0px 0px;
}

